
.m_container{
    margin-top:78px;
    word-break: break-all;
}
main{
    padding-top:60px;
    margin:auto;
    width:935px;
    /* height: 1000px; */
    display : flex;
    flex-direction: row;
    /* border:1px solid black; */
    
}

.m_1{
    /* border:1px solid black; */
    display:flex;
    
    
}
.m_1:nth-child(1){
    flex-basis: 614px;
    /* flex-shrink: 0; */
    margin-right:28px;
    width:100%;
    
}




.m_2{
    width:291px;
    position: fixed;
    top:137px;
    
    
    height: 150px;
    /* height:75px; 자기소개같은거 아래넣을거면 위에 높이 높은걸로 */
}

.fixed-write{
    display:none;
    color:#3897f0;
    position:fixed;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    bottom:30px;
    right:30px;
}

@media only screen and (max-width : 1000px) {
    
    main{
    padding-top:60px;
    margin:auto;
    width: 600px;
    display : flex;
    flex-direction: row;
    
    
}
.m_1:nth-child(1){
    flex-basis: 600px;
    
    margin-right:0px;

}

.m_1:nth-child(2){
    border:0px;
}


.m_2{
    display:none;
}

.fixed-write{
    display: block;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 600px) {
    .t_bar:nth-child(2){
        display: none;
    }
    
    main{
    padding-top:0px;
    margin:auto;
    max-width: 600px;
    width:100%;
    position : absolute;
    left:0;
    
    
}

}


.art_f{
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    width:100%;
    display:flex;
    flex-direction: column;
    margin-bottom:50px;
    
}

.hea_f{
    height: 60px;
    display: flex;
    flex-direction: row;
}
.hea_s{
    padding :16px;
    justify-content: start;
    display: flex;
    width:100%;
}

.hea_t{
    display: flex;
}
.hea_s .hea_t:nth-child(1){
    flex-grow: 0;
}
.hea_s .hea_t:nth-child(2){
    margin-left: 16px;
    flex-grow: 1;
    align-items:center;
}

.content{
    width:100%;

}

.fun_f{
    width:100%;
    height: 41px;
}

.fun_s{
    padding-top:5px;   
}

.fun_s a{
    color: black;
    text-decoration: none;
    cursor: pointer; 
    margin-right: 10px;   
}
.foot_f{
    padding-left:15px;
    padding-right:15px;
    
}

.fun_s a.comment_all{
    text-decoration: none;
    color : #b0b0b0;
    
}
.comment_all span{
 font-size:13px;
}

.comment_write{
    padding-left:15px;
    padding-right:15px;
    padding-top:8px;
    padding-bottom:8px;
    border-top:1px solid #E6E6E6;
    margin-top:5px;

}

form textarea{
    resize: none; /* 사용자 임의 변경 불가 */
    border-style:none;
    height: 30px;
}

form textarea:focus{
    outline:none;
}
.comment_sub{
    padding: 0;
    border: none;
    background: none;
}
.comment_f{
    display:flex;
    flex-direction: row;
}
.comment_f textarea{
    flex-grow: 20;
}
.comment_f button{
    flex-grow: 1;
    color:#3897F0;
}

.info_f{
    display:flex;
    flex-direction: row;
    height: 70px;
    padding-bottom:10px;
    margin-bottom:10px;
    border:1px solid #E6E6E6;
    border-radius: 3px;
}
.info_s{
    display:flex;
}
.info_s:nth-child(1){
    width:60px;
    padding-top:10px;
    padding-left:10px;
}

.info_s:nth-child(1) img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}   
.info_s:nth-child(2){
    flex-grow:1;

}
.info_t{
    margin-left: 15px;
    /* width:100%;
    align-items: center;
    display: flex;
    flex-direction: row; */
    padding-top:10px;
}

.info_f:nth-child(2){
    
    border-radius: 3px;
    border: 1px solid #E6E6E6;
    height: 50px;
}

.n-f{
    margin: 20px 20px 0px 20px;
    border:1px solid #E6E6E6;
    border-radius: 3px;
    
}

.n-s{
    display:flex;
    justify-content: center;
    padding-top:30px;
    text-align: center;
}
.n-s:nth-child(3){
    padding-top:0px;
    padding-bottom:30px;
    
}
.u-list-wrap{
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.u-list-f{
    padding:8px 16px;
    display:flex;
    flex-direction: row;
}

.u-list-s{
    display:flex;
    align-items: center; 
}
.u-list-s:nth-child(1){
    width: 54px;
    height: 54px;
   
}

.u-list-s:nth-child(3){
   flex-grow: 1;
   justify-content: flex-end;
}


.u-list-s div span{
    font-size:15px;
    display:block;
    
}

.u-list-s div span:nth-child(1){
    height: 16px;
}

.u-list-s .btn{
    padding:5px 9px;
    background-color:#3897f0;
    color:white; 
    width: 62px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
}

.svg-sp{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .md_f{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #E6E6E6;
    height: 52px;
	}

	@media (min-width: 576px){
	    .modal-dialog {
	        max-width: 384px;
	        margin: 1.75rem auto;
	    }
	}
	
	.modal-body a{
	    text-decoration: none;
	    color:black;
	}