<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.inbyul.board">

	<resultMap type="com.young.inbyul.board.model.Board" id="boardList">
		<result property="bno" column="bno"/>
		<result property="bcontent" column="bcontent"/>
		<result property="likecnt" column="likecnt"/>
		<result property="commentcnt" column="commentcnt"/>
		<result property="b_reg_dt" column="b_reg_dt"/>
		 <association property="user"  javaType="com.young.inbyul.user.model.CustomUser" >
		 	<result property="uno" column="uno"/>
             <result property="uid" column="uid"/>
             <result property="uicon" column="uicon"/>
        </association>
        
        <collection property="fileArr" javaType="java.util.ArrayList" column="bno" ofType="com.young.inbyul.board.model.FileVO" select="getfilepath">
       			<result property="fno" column="fno"/>
       			<result property="file_path" column="file_path"/>
       </collection>
       
        <!-- <association property="filevo"  javaType="com.young.inbyul.board.model.File" >
	        <collection property="file_path" javaType="java.util.ArrayList" column="bno" ofType="String" select="getfilepath">
	        	<result property="file_path" column="file_path"/>
	        </collection>
        </association> -->
        
        
	</resultMap>
	
	<resultMap type="com.young.inbyul.board.model.Board" id="boardContents">
		<result property="bno" column="bno"/>
		<result property="bcontent" column="bcontent"/>
		
		<collection property="fileArr" javaType="java.util.ArrayList" column="bno" ofType="com.young.inbyul.board.model.File" select="getfilepath">
       			<result property="fno" column="fno"/>
       			<result property="file_path" column="file_path"/>
       </collection>
		
		<!-- <association property="filevo"  javaType="com.young.inbyul.board.model.File" >
	        <collection property="file_path" javaType="java.util.ArrayList" column="bno" ofType="String" select="getfilepath">
	        	<result property="file_path" column="file_path"/>
	        </collection>
        </association> -->
	</resultMap>
	
	
	



	<select id="getUserBoardCount" resultType="int">
		select count(*) from board where uno = #{uno}
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="bno" parameterType="com.young.inbyul.board.model.Board">
		<![CDATA[
			insert into board (bcontent,uno)
			values
			(
			#{bcontent}
			,#{user.uno}
			)
		]]>
	</insert>
	
	<insert id="insertImage" parameterType="com.young.inbyul.board.model.Board">
		insert into postimages(bno,file_path)
		values 
				(
				#{bno}
				,#{file_path}
				)
		
	</insert> 
	
	<select id="getFollowerList" resultType="int">
		select 
			follower_no 
		from 
			follow 
		where 
			following_no = #{uno}
	</select>
	
	<select id="getBoardList" resultMap="boardList">
		select 
			board.*,user.uid,user.uicon,user.uno 
		from 
			board join user 
		on 
			board.uno=user.uno
		where 
			board.uno in (#{uno}
		<foreach collection="followerList" item="item" index="index" >
			,#{item}
		</foreach>	
			) order by b_reg_dt desc
	</select>
	
	<select id="getfilepath" resultType="com.young.inbyul.board.model.FileVO">
		 select pno as fno,file_path from postimages where bno = #{bno}
	</select>
	
	<select id="getBoard" resultMap="boardContents">
		select bno, bcontent from board where bno = #{bno}
	</select>
	
</mapper>