<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.inbyul.login">

	<!-- <parameterMap type="" id="">
		<parameter property=""/>
	</parameterMap> -->
	
	 <select id="selectUserById" resultType="com.young.inbyul.user.model.CustomUser" >
			        
	            SELECT
	                *
	            FROM
	                user
	            WHERE
	            <if test="@com.young.inbyul.user.service.CustomUserDetailsService@regexp_Email_Check(loginid)"> 
	                uemail=
	        	</if>
	        	<if test="!@com.young.inbyul.user.service.CustomUserDetailsService@regexp_Email_Check(loginid)">
	        		uid=
	        	</if>
	        	#{loginid}
    </select>
    
    <select id="getRoleById" resultType="com.young.inbyul.user.model.UserRole">
    	select rolename from role where uno = #{uno}
    </select>
    
    <insert id="insertUser">
    	<![CDATA[
	    	INSERT INTO USER(uid,upw,uemail,uphone,uname)
	    	 VALUES
	    	(
	    	#{uid}
	    	,#{upw}
	    	,#{uemail}
	    	,#{uphone}
	    	,#{uname}
	    	)
    	]]>
    </insert>
    
    <insert id="insertRole">
    	
    		INSERT INTO role (rolename, uno) 
    		VALUES
    		<foreach collection="roles" item="roles" separator="," open="(" close=")">
    		#{roles.rolename},#{uno}
    		</foreach>
    		
    	
    </insert>
    
    <insert id="createAuthKey">
    	<![CDATA[
    		INSERT INTO emailauth(uno,authkey)
    		 VALUES
	    	(
	    	#{uno}
	    	,#{authKey}
	    	)
    	]]>
    </insert>
    
    <select id="getAuthKey" resultType="String">
    	<![CDATA[
    		SELECT 
    			authkey 
    		FROM 
    			emailauth 
    		WHERE
    			uno = #{uno} 
    	]]>
    </select>
    
    <update id="updateRole">
    	<![CDATA[
    		UPDATE
    			role 
    		SET 
    			rolename = #{ch_role}
    		WHERE 
    			uno= #{uno}
    	]]>
    </update>
    
    <delete id="deleteAuthKey">
    	<![CDATA[
    		DELETE FROM emailauth WHERE uno = #{uno}
    	]]>
    </delete>
    
    <select id="getUid" resultType="String">
    	<![CDATA[
    		SELECT 
    			uid 
    		FROM 
    			user 
    		WHERE 
    			uid = #{uid}
    	]]>
    </select>
    
    <select id="getUemail" resultType="String">
	    <![CDATA[
	    	SELECT 
	    		uemail 
	    	FROM 
	    		user 
	    	WHERE 
	    		uemail = #{uemail}
	    ]]>
    </select>
    
    <select id="getUno" resultType="int">
    	<![CDATA[
	    	SELECT 
	    		uno 
	    	FROM 
	    		user 
	    	WHERE 
	    		uid = #{uid}
	    ]]>
    
    </select>
    
    
    
</mapper>