<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.inbyul.test">
	
	<resultMap type="com.young.inbyul.board.model.Board" id="board">
		<result property="bno" column="bno"/>
		<result property="bcontent" column="bcontent"/>
		<result property="likecnt" column="likecnt"/>
		<result property="commentcnt" column="commentcnt"/>
		<result property="b_reg_dt" column="b_reg_dt"/>
		 <association property="user"  javaType="com.young.inbyul.user.model.CustomUser" >
		 	<result property="uno" column="uno"/>
             <result property="uid" column="uid"/>
             <result property="uicon" column="uicon"/>
       </association>
       
       
       <collection property="filevo" javaType="java.util.ArrayList" column="bno" ofType="com.young.inbyul.board.model.FileVO" select="getfilepath">
       			<result property="fno" column="pno"/>
       			<result property="file_path" column="file_path"/>
       </collection>
       
       
        <!-- <association property="filevo"  javaType="com.young.inbyul.board.model.File" >
	        <collection property="file_path" javaType="java.util.ArrayList" column="bno" ofType="String" select="getfilepath">
	        	<result property="file_path" column="file_path"/>
	        </collection>
        </association> -->
        
	</resultMap>
	
		
	
	<select id = "getList" resultMap="board">
		select 
			board.*,user.uid,user.uicon 
		from 
			board join user 
		on 
			board.uno=user.uno
		where 
			board.uno in (11,1);
	</select>
	
	<select id="getfilepath" resultType="com.young.inbyul.board.model.FileVO">
		 select file_path,pno from postimages where bno = #{bno}
	</select>
	
	
	<select id="getReUserList" resultType="com.young.inbyul.user.model.CustomUser">
	
		 select 
		 	uicon,uid,uname 
		 from 
		 	user 
		 where 
		 	uno !=11 
		 order by followercnt desc limit 10;
		
	</select>
	
	<select id="gettime" resultType="java.util.Date">
		select b_reg_dt from board where uno=11;
	</select>
	
	
	
</mapper>