<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.inbyul.user">


	<select id="getFollowingCount" resultType="int">
		 select
		  	count(*)  
		 from 
		 	follow 
		 where 
		 	following_no = #{uno}
	</select>
	
	<select id="getPopUserList" resultType="int">
		 select 
		 	follower_no,count(*) as follower_count 
		 from 
		 	follow 
		 group by 
		 	follower_no 
		 order by 
		 	follower_count desc limit 10;
	</select>
	
	
	<select id="getReUserList" resultType="com.young.inbyul.user.model.CustomUser">
	
		 select
		 	* 
		 from 
		 	user 
		 where 
		 	uno in 

		 	<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
				#{item}
		 	</foreach>
		
	</select>
	
</mapper>